/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
  clear: both;
}
.overflow{
  overflow: auto;
}

/******************************************
/* POSITION
/*******************************************/
.center_container {
  max-width: 1024px;
  margin: 0 auto;
  /* Center the container */
}
.alignright {
  float: right;
  /* padding: 0 0 10px 10px; /* note the padding around a right floated image */
}
.alignleft {
  float: left;
  /* padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  /*
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Merriweather', serif;
  */
}

/******************************************
/* WEBSITE STYLES
/*******************************************/

/* LOGO AND NAVIGATION */
.header_background{
  overflow: auto;
  background: #000;
  border-bottom: 5px solid #f8ff00;
}
.logo_main{
  text-align: left;
  font-family: 'Merriweather', serif;
  font-size: 2em;
  font-weight: 700;
  color: #f8ff00;
  letter-spacing: 0.05em;
  padding: 20px 0 10px 40px;
}
.nav_main{
  text-align: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.75em;
  padding: 0 40px 20px 0;
}
.nav_main a{
  color: #fff;
  text-decoration: none;
}
.nav_main a:hover{
  color: orange;
}
.nav_main li{
  display: inline;
  padding-right: 40px;
}
li:last-child{
  padding-right: 0;
}
.nav_bold{
  font-weight: 700;
  text-transform: uppercase;
}

/* TAGLINE GRAY BAR */
.tagline_back{
  width: 100%;
  background: #ccc;
  box-shadow: 0 0 10px #000;
}
.tagline{
  padding: 30px 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2em;
  color: #000;
  letter-spacing: 0.02em;
}
.tagline_strike{
  color: #999;
  text-decoration: line-through;
}
.tagline_underline{
  border-bottom: 4px solid yellow;
}

/* IMAGE BACKGROUND */
#meetmatch_back{
  background: url(http://i.imgur.com/4Ch0N3S.jpg);
  background-size: 100%;
  background-repeat:no-repeat;
}
h3{
  font-weight: 900;
  font-size: 1.5em;
  color: #000;
  padding-bottom: 10px;
}
.meetmatch{
  margin: 40px 40px 40px 0;
  width: 320px;
  padding: 30px;
  background-color: rgba(240, 240, 240, 0.8);
  box-shadow: 0 0 10px #000;
  font-size: 1.3em;
  color: #000;
  line-height: 1.6em;
}
.btn1{
  margin-top: 10px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.25em;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #f8ff00;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 5px 0 #c6cc00;
}
.btn1 a{
  color: #000;
  text-decoration: none;
}
.btn1:hover{
  background-color: orange;
}

/* THREE COLUMNS */
.columns{
  display: inline-block;
  margin: 20px 0;
  padding: 30px;
  max-width: 33.3%;
  font-size: 1.3em;
  color: #000;
  line-height: 1.6em;
  border-right: 1px solid #ccc;
}
.columns:last-child{
  border-right: 0px;
}
h4{
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
  font-weight: 700;
  color: #000;
  padding-bottom: 10px;
}
.btn2{
  max-width: 100%;
  margin-top: 10px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.25em;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #c6c6c6;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 5px 0 #9e9e9e;
}
.btn2 a{
  color: #000;
  text-decoration: none;
}
.btn2:hover{
  background-color: orange;
}

/* FOOTER */
.footer1{
  max-width: 100%;
  padding: 40px 0 40px 40px;
  background: #000;
  color: #fff;
  font-size: 1.25em;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




