
body {
    background: #000 url(http://i.imgur.com/nkU2yUq.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    width: 75%;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 68px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	margin: 40px 0px 40px 0px;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 400;
	color: #2591f2;	
	text-align: center;
	margin: 40px 0px 40px 0px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	line-height: 22px;
}

a {
	color: #2591f2;
	text-decoration: none;
}

hr {
    margin: 40px 0px 40px 0px;
    border: 0;
    height: 2px;
    background: #fff;
}

.socials {
	text-align: center;
	margin: 0px 0px 80px 0px;
}

.profile {
	text-align: center;
}

